body{
background-color: beige;
  
}

.kwadrat1,.kwadrat2,.kwadrat3,.kwadrat4 {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.kwadrat1{
    background: rgba(0,0,0,1);
    margin-top: 200px;
}
    
.kwadrat2{
    background: rgba(0,0,0,0.6);
    
}

.kwadrat3{
    background: rgba(0,0,0,0.4);
   
}

.kwadrat4{
    background: rgba(0,0,0,0.2);
}